<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="D:\werad\joka\x-sport\x-sport\Xsport.API\wwwroot\Logs\nlog-internal.txt">
	<targets>
		<target name="logfile" xsi:type="File"
				fileName="D:\werad\joka\x-sport\x-sport\Xsport.API\wwwroot\Logs\logs_debug\${shortdate}__logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>